h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}
img {
	max-width: 660px; 
	width:expression(this.width > 660 ? "660px" : this.width);
}
.reply_content img{
	max-width:560px;
}
.imgly {
    max-width: 660px;
}
.img {
    max-width: 660px;
}

